#!/bin/bash
apt-get update -y
apt-get install -y docker.io
systemctl enable docker
systemctl start docker
usermod -aG docker ubuntu

docker pull juinnpt/ai-page-generator:latest
docker run -d -p 8080:8080 -e OPENAI_API_KEY=${openai_api_key} juinnpt/ai-page-generator
  
